node_modules
.nuxt
.output
.well-known/guide
.gradle
app/src
app/build
app/build.gradle
build.gradle
gradle
gradle.properties
gradlew
gradlew.bat
manifest-checksum.txt
settings.gradle
signing-key-info.txt
store_icon.png
twa-manifest.json