logg.txt
node_modules
yarn.lock
.nuxt
.output
.well-known/Link2PWABuilder.url
.well-known/bubblewrap-guide
.gradle
app/src
app/build
app/build.gradle
build.gradle
gradle
gradle.properties
gradlew
gradlew.bat
manifest-checksum.txt
settings.gradle
signing-key-info.txt
store_icon.png
twa-manifest.json
app-release-bundle.aab
app-release-signed.apk
app-release-signed.apk.idsig
app-release-unsigned-aligned.apk