/* 
// This style is scoped in list.vue & PostListItem.vue
.short-description {
  max-lines: 3;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   max-height: 5rem;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
}
*/
/* 
katex.css was orginally loaded from public-folder in /article/[...slug].vue 
*/
/*
ProseH1-5 is changed, because of width-problem in theme NOTE (in flexiMode).
ProseH5 & 6 is unchanged.
Style is scooped and class-name is fixwidth.
The button to change between 1 and 2 coloumn is in MarkdownNote.vue line 416
div-parent to all header is maybe in MarkdownNote.vue line 
*/




@media only screen and (max-width: 940px) {
  .notewidth {
    color: royalblue;
    width: 90vw
  }
  .fullwidth {
    width: 85vw
  }
}

@media screen and (min-width: 940px) and (max-width: 1000px) {
  .notewidth {
    color: lightblue;
    width: 88vw
  }
  .fullwidth {
    width: 86vw
  }
}
/* 
Toggle between 1 and 2 coloumn in note-theme-modus if min 1000px 
See the code in MarkdownNote.vue
*/
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .notewidth {
    color: rgb(230, 173, 173);
    width: 46vw
  } /* someplaces the with can be only one col - then the width 46 is not good */
  h1[name='h1top'] {
    color: rgb(76, 139, 0);
    width: 88vw
  }
  .fullwidth {
    width: 78vw
  }
}

@media only screen and (min-width: 1200px) {
  .notewidth {
    color: darkblue;
    width: 48vw
  }
  h1[name='h1top'] {
    color: rgb(139, 107, 0);
    width: 80vw
  }
  .fullwidth {
    width: 70vw
  }
}

/* 

Trying to solve a lighthouse-problem:
The viewport size of 373px does not match the window size of 360px.

@media only screen and (max-width: 374px) {
  body {
    width: 96vw
  }
}
*/

/*
@viewport {
	zoom: 1.0;
	width: extend-to-zoom;
}
*/

/* lazy load text-content on slug, list and frontpage */
/*
.article-container * {
  content-visibility: auto;
}
ul * {
  content-visibility: auto;
}
.scroll-container * {
  content-visibility: auto;
}
*/
