.card-description {
  max-lines: 2;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   max-height: 5rem;      /* fallback (5rem, 5em or 68px) */
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
}