/* 
// This style is scoped in list.vue & PostListItem.vue
.short-description {
  max-lines: 3;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   max-height: 5rem;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
}
*/
/* 
katex.css is loaded from public-folder in /article/[...slug].vue 
*/
/*
ProseH1-5 is changed, because of width-problem in theme NOTE (in flexiMode).
ProseH5 & 6 is unchanged.
Style is scooped and class-name is fixwidth.
*/